.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.searchContainer input {
    padding: 5px 5px;
    background-color: rgb(226, 226, 226);
}

.searchContainer input:focus {
    outline:none;
}